// @import 'font-awesome';

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono|Lato:100,300);

/* COLOURS ----- */
$white:						#eee;
$black:						#111;
$black-translucent:			rgba(17, 17, 17, 0.4);
$primary-col:				#204156;
$primary-col-lighter:		#1097d3;

/* FONTS ------- */
$primary-font:				'Cutive Mono';
$secondary-font:			'Lato', sans-serif;