// @import 'font-awesome';

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono|Lato:100,300);

/* COLOURS ----- */
$white:				#eee;
$black:				#111;
$primary-col:		#204156;

/* FONTS ------- */
$primary-font:		'Cutive Mono';
$secondary-font:	'Lato', sans-serif;